{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}


{% block metatags %}
<meta property="og:url" content="http://karolcowan.com/clases/danzas-afrocubanas">
<meta property="og:title" content="Clases de Danzas A">
<meta property="og:description" content="Herramientas y Tecnicas de la Rumba, fusion, interpretacion y cadencia + Percepcion Musical.">

<meta property="og:image" content="http://karolcowan.com/images/flyers/flyer_rumba_sabados.jpg">
<meta property="og:image:width" content="1900"/>
<meta property="og:image:height" content="976"/>

<meta name="twitter:title" content="Clases de Danzas Populares">
<meta name="twitter:image" content="http://karolcowan.com/images/flyers/flyer_rumba_sabados.jpg">
<meta name="twitter:text:description" content="Herramientas y Tecnicas de la Rumba, fusion, interpretacion y cadencia + Percepcion Musical.">
{% endblock %}

{% block content %}

<!-- SUBHEADER ================================================== -->
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p>
                Clases de Danzas Afrocubanas
            </p>
        </div>
    </div>
</div>

<style>
    video {
        position:absolute;
        z-index:0;
    }
    video.fillWidth {
        width: 100%;
    }

    #overlay .columns p{
        font-weight: bold;
        font-size: 1.1em;
        color: #FFFFFF;
    }
</style>

<div class="row">
    <div class="twelve columns">
        <p>
            Herramientas y Tecnicas de la Rumba, fusion, interpretacion y cadencia + Percepcion Musical.
            <br><b>"EL ARTE ES EL ALMA DE LA CIVILIZACIÓN"</b>
        </p>
    </div>
</div>

<div class="row">
    <div class="six columns" style="margin-top: 1%">
        <img src="/images/flyers/flyer_rumba_sabados.jpg" style="width: 100%">
    </div>
    <div class="six columns" style="margin-top: 1%">
        <div class="row">
            <div class="twelve columns">
                <video preload="none" autoplay loop width="100%"  style="width: 100%">
                    <source type="video/youtube" src="http://www.youtube.com/watch?v=DpC8pQgiBpE" />
                </video>
            </div>
            <div class="twelve columns">
                <br><video preload="none" autoplay loop width="100%"  style="width: 100%">
                    <source type="video/youtube" src="http://www.youtube.com/watch?v=gFvsd4FGmk0" />
                </video>
            </div>
        </div>
    </div>
</div>

<script>
    $('video').mediaelementplayer({
        autoplay: false,
        success: function(media, node, player) {
            //player.play();
        }
    });
</script>


{% endblock %}