<div class="row row-fluid home-album">
    <div class="nocontainer">
        <div class="col-sm-12">
            <div class="wrap">
                <div class="container">
                    <div class="noo-grid-header-events header-featured-albums">
											<span class="icon">
												<i class="fa fa-file-image-o"></i>
											</span>
                        <h2 class="sh-event-title">
                            Featured Albums
                        </h2>
                        <p class="sh-ds">
                            Born to make you happy! By searching our latest premium albums, you will have a lot of funs
                        </p>
                    </div>
                </div>
                <ul class="clearfix noo-featured-albums">
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock13"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Awesome Bass</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Awesome Bass</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Rock</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[

															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock15"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Robinson Party</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Robinson Party</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Rock</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock16"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Defiant Order</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Defiant Order</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Pop</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock16\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock16\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock16\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock16\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock16\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock16\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock11"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">John Doe Live show</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">John Doe Live show</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Pop</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock9"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">My life</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">My life</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Jazz</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock8"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Center of The Universe</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Center of The Universe</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Jazz</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock7"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Amsterdam Dance</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Amsterdam Dance</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Dance</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock5"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Bacardi Original Bar</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Bacardi Original Bar</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Dance</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sh-featured-albumns-item">
                            <img width="500" height="700" src="images/album/album-thumb-316x411.jpg" alt="rock4"/>
                            <div class="sh-top">
                                <h3 class="product_title">
                                    <a href="#">Roseland Ballroom</a>
                                </h3>
                            </div>
                            <div class="sh-bottom">
                                <div class="shop-info">
                                    <h3 class="product_title">
                                        <a href="#">Roseland Ballroom</a>
                                    </h3>
                                    <div class="product-category">
                                        <a href="#">Dance</a>
                                    </div>
                                </div>
                                <div class="shop-loop-actions">
                                    <a class="button" href="#">
                                        <i class="fa fa-link"></i> Detail
                                    </a>
                                    <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Payphone&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Quando Quando&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/No-Face-No-Name-No-Number-Modern-Talking.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;No Face No Name No Number&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Glad-You-Came-The-Wanted.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Glad You Came&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Forever-And-One-Helloween.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Forever And One&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Beatiful-In-White-Shane-Filan.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/album-thumb-40x40.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Beatiful In White&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                        <i class="fa fa-plus"></i> Add to Playlist
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>