<div class="row row-fluid home-news">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="noo-grid-header-events header-news">
										<span class="icon">
											<i class="fa fa-file-image-o"></i>
										</span>
                    <h2 class="sh-event-title">News and Updates</h2>
                    <p class="sh-ds">
                        We create posts and news with useful information for event overview, tips and trends, highlighted moments and videos to give you the best visualization of what we have done over time.
                    </p>
                </div>
                <ul class="noo_news_blog">
                    <li>
                        <div class="noo-sh-thumbail">
                            <div class="shthumbail">
                                <img width="600" height="450" src="images/blog/blog-thumb-540x360.jpg" alt="blog14"/>
                            </div>
                        </div>
                        <div class="noo-sh-blog-content">
                            <h3><a href="#">Why we create music</a></h3>
                            <p class="content-meta">
													<span>
														<i class="fa fa-calendar"></i>
														<time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
															May 28th, 2015
														</time>
													</span>
													<span>
														<i class="fa fa-comments-o"></i>
														<a href="#" class="meta-comments"> 0</a>
													</span>
                                <span><i class="fa fa-eye"></i>365</span>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            </p>
                            <a class="read-more" href="#">Continue Reading...</a>
                        </div>
                    </li>
                    <li>
                        <div class="noo-sh-thumbail">
                            <div class="shthumbail">
                                <img width="600" height="450" src="images/blog/blog-thumb-540x360.jpg" alt="blog24"/>
                            </div>
                        </div>
                        <div class="noo-sh-blog-content">
                            <h3><a href="#">The rolling stones at hyde part</a></h3>
                            <p class="content-meta">
													<span>
														<i class="fa fa-calendar"></i>
														<time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
															May 28th, 2015
														</time>
													</span>
													<span>
														<i class="fa fa-comments-o"></i>
														<a href="#" class="meta-comments"> 0</a>
													</span>
                                <span><i class="fa fa-eye"></i>259</span>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            </p>
                            <a class="read-more" href="#">Continue Reading...</a>
                        </div>
                    </li>
                    <li>
                        <div class="noo-sh-thumbail">
                            <div class="shthumbail">
                                <img width="600" height="450" src="images/blog/blog-thumb-540x360.jpg" alt="blog12"/>
                            </div>
                        </div>
                        <div class="noo-sh-blog-content">
                            <h3><a href="#">Live on letterman</a></h3>
                            <p class="content-meta">
													<span>
														<i class="fa fa-calendar"></i>
														<time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
															May 28th, 2015
														</time>
													</span>
													<span>
														<i class="fa fa-comments-o"></i>
														<a href="#" class="meta-comments"> 0</a>
													</span>
                                <span><i class="fa fa-eye"></i>162</span>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            </p>
                            <a class="read-more" href="#">Continue Reading...</a>
                        </div>
                    </li>
                    <li>
                        <div class="noo-sh-thumbail">
                            <div class="shthumbail">
                                <img width="600" height="450" src="images/blog/blog-thumb-540x360.jpg" alt="blog10"/>
                            </div>
                        </div>
                        <div class="noo-sh-blog-content">
                            <h3><a href="#">2014 Tour Announced</a></h3>
                            <p class="content-meta">
													<span>
														<i class="fa fa-calendar"></i>
														<time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
															May 28th, 2015
														</time>
													</span>
													<span>
														<i class="fa fa-comments-o"></i>
														<a href="#" class="meta-comments"> 0</a>
													</span>
                                <span><i class="fa fa-eye"></i>144</span>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            </p>
                            <a class="read-more" href="#">Continue Reading...</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>