<div class="row row-fluid home-successful-event">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="noo-shortcode-events grid">
                    <div class="noo-grid-header-events">
											<span class="icon">
												<i class="fa fa-calendar"></i>
											</span>
                        <h2 class="sh-event-title">
                            Successful events
                        </h2>
                        <p class="sh-ds">
                            Catch up the mosthighlighted moments of our successful events and believe that we can do best thanever.
                        </p>
                    </div>
                    <div class="noo-sh-event-content row">
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-sh-grid-event">
                                <div class="noo-thumbnail">
                                    <img width="970" height="647" src="images/event/event-thumb-370x370.jpg" alt="blog21"/>
                                </div>
                                <div class="noo-shevent-content">
                                    <h4><a href="#">The Gorge Amphitheater</a></h4>
                                    <div class="sh-meta">
															<span class="sh-time-event">
																<i class="fa fa-clock-o"></i>
																<span class="date-start dtstart">June 5-8:00 pm</span>
																-
																<span class="date-end dtend">October 31-9:00 pm</span>
															</span>
															<span class="sh-address">
																<i class="fa  fa-map-marker"></i>
																Gramercy Park Hotel, NewYork
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-sh-grid-event">
                                <div class="noo-thumbnail">
                                    <img width="970" height="750" src="images/event/event-thumb-370x370.jpg" alt="event13"/>
                                </div>
                                <div class="noo-shevent-content">
                                    <h4><a href="#">Ultra Music Festival</a></h4>
                                    <div class="sh-meta">
															<span class="sh-time-event">
																<i class="fa fa-clock-o"></i>
																<span class="date-start dtstart">June 3-8:00 am</span>
																-
																<span class="date-end dtend">November 30-5:00 pm</span>
															</span>
															<span class="sh-address">
																<i class="fa  fa-map-marker"></i>
																Gramercy Park Hotel, NewYork
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-sh-grid-event">
                                <div class="noo-thumbnail">
                                    <img width="970" height="750" src="images/event/event-thumb-370x370.jpg" alt="event3"/>
                                </div>
                                <div class="noo-shevent-content">
                                    <h4><a href="#">Editions in the gallery cafe</a></h4>
                                    <div class="sh-meta">
															<span class="sh-time-event">
																<i class="fa fa-clock-o"></i>
																<span class="date-start dtstart">June 1-9:30 pm</span>
																-
																<span class="date-end dtend">October 31-10:30 pm</span>
															</span>
															<span class="sh-address">
																<i class="fa  fa-map-marker"></i>
																Gramercy Park Hotel, NewYork
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-sh-grid-event">
                                <div class="noo-thumbnail">
                                    <img width="970" height="750" src="images/event/event-thumb-370x370.jpg" alt="event7"/>
                                </div>
                                <div class="noo-shevent-content">
                                    <h4><a href="#">Lollapalooza festival</a></h4>
                                    <div class="sh-meta">
															<span class="sh-time-event">
																<i class="fa fa-clock-o"></i>
																<span class="date-start dtstart">June 1-8:00 pm</span>
																-
																<span class="date-end dtend">September 30-11:00 pm</span>
															</span>
															<span class="sh-address">
																<i class="fa  fa-map-marker"></i>
																Gramercy Park Hotel, NewYork
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-sh-grid-event">
                                <div class="noo-thumbnail">
                                    <img width="970" height="750" src="images/event/event-thumb-370x370.jpg" alt="event5"/>
                                </div>
                                <div class="noo-shevent-content">
                                    <h4><a href="#">Fiddler&#8217;s Green Amphitheatre</a></h4>
                                    <div class="sh-meta">
															<span class="sh-time-event">
																<i class="fa fa-clock-o"></i>
																<span class="date-start dtstart">June 1-8:00 pm</span>
																-
																<span class="date-end dtend">October 31-10:00 pm</span>
															</span>
															<span class="sh-address">
																<i class="fa  fa-map-marker"></i>
																Gramercy Park Hotel, NewYork
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-sh-grid-event">
                                <div class="noo-thumbnail">
                                    <img width="970" height="750" src="images/event/event-thumb-370x370.jpg" alt="event10"/>
                                </div>
                                <div class="noo-shevent-content">
                                    <h4><a href="#">Credit Union Centre</a></h4>
                                    <div class="sh-meta">
															<span class="sh-time-event">
																<i class="fa fa-clock-o"></i>
																<span class="date-start dtstart">March 29-8:00 pm</span>
																-
																<span class="date-end dtend">September 30-5:00 pm</span>
															</span>
															<span class="sh-address">
																<i class="fa  fa-map-marker"></i>
																Gramercy Park Hotel, NewYork
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>