<div class="row parallax row-fluid home-upcoming-event">
    <div class="overlay_parallax"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="noo-shortcode-events">
                    <h2 class="sh-event-title">
                        upcoming <span>events</span>
                    </h2>
                    <p class="sh-ds">
                        New events are coming along with new surprises and scales. Find out your favorite one in the
                        collection and enjoy the moments with us. Bring inspiration for music band and fan isthe key
                        mission.
                    </p>
                    <div class="noo-sh-event-content">
                        <div class="noo-sh-list-event">
												<span class="entry-date">
													29 <span class="month">March </span>
												</span>
                            <div class="noo-thumbnail thumb-1"></div>
                            <div class="noo-shevent-content">
                                <h4><a href="#">Credit Union Centre</a></h4>
                                <div class="sh-meta">
														<span class="sh-date">
															<i class="fa fa-clock-o"></i>
															<span class="date-start dtstart">
																March 29-8:00 pm
															</span>
															-
															<span class="date-end dtend">
																September 30-5:00 pm
															</span>
														</span>
														<span class="sh-address">
															<i class="fa fa-map-marker"></i>
															Gramercy Park Hotel, NewYork
														</span>
                                </div>
                                <div class="sh-excerpt">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="noo-sh-list-event">
												<span class="entry-date">
													1 <span class="month">June </span>
												</span>
                            <div class="noo-thumbnail thumb-2"></div>
                            <div class="noo-shevent-content">
                                <h4><a href="#">Lollapalooza festival</a></h4>
                                <div class="sh-meta">
														<span class="sh-date">
															<i class="fa fa-clock-o"></i>
															<span class="date-start dtstart">
																June 1-8:00 pm
															</span>
															-
															<span class="date-end dtend">
																September 30-11:00 pm
															</span>
														</span>
														<span class="sh-address">
															<i class="fa fa-map-marker"></i>
															Gramercy Park Hotel, NewYork
														</span>
                                </div>
                                <div class="sh-excerpt">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="noo-sh-list-event">
												<span class="entry-date">
													1 <span class="month">June </span>
												</span>
                            <div class="noo-thumbnail thumb-3"></div>
                            <div class="noo-shevent-content">
                                <h4><a href="#">Fiddler&#8217;s Green Amphitheatre</a></h4>
                                <div class="sh-meta">
														<span class="sh-date">
															<i class="fa fa-clock-o"></i>
															<span class="date-start dtstart">
																June 1-8:00 pm
															</span>
															-
															<span class="date-end dtend">
																October 31-10:00 pm
															</span>
														</span>
														<span class="sh-address">
															<i class="fa fa-map-marker"></i>
															Gramercy Park Hotel, NewYork
														</span>
                                </div>
                                <div class="sh-excerpt">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="noo-view-event">
                            <a href="#">View all events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>