<div class="row row-fluid">
    <div class="nocontainer">
        <div class="col-sm-12">
            <div class="noo-countdown" style="height: auto">
                <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=t7ZEJgaK_D4', containment:'.noo-countdown',autoPlay:true, mute:true, startAt:0, opacity:0.2, quality: 'hd720', ratio: '16/9'}"></a>
                <div class="background-mobi" style="background-image: url('/images/slider-1903x960-kc.png')"></div>
                <div class="overlay_parallax"></div>
                <div class="noo-countdown-content">
                    <div class="container">
                        <h2>Karol Cowan</h2>
                        <p>&</p>
                        <p>La Sabrosa Latin Band</p>
                        <div id="defaultCountdown"></div>
                        {#<div class="noo-countdown-footer">
                            <a href="#" data-text="discover now"><span>discover now</span></a>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>