<div class="row row-fluid">
    <div class="nocontainer">
        <div class="col-sm-12">
            <div class="noo-countdown" style="height: auto">
                <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=t7ZEJgaK_D4', containment:'.noo-countdown',autoPlay:true, mute:true, startAt:0, opacity:0.2, quality: 'hd720', ratio: '16/9'}"></a>
                <div class="background-mobi" style="background-image: url('/images/slider-1903x960-kc.png')"></div>
                <div class="overlay_parallax"></div>
                <div class="noo-countdown-content">
                    <div class="container">
                        <h2>Karol Cowan</h2>
                        <p>&</p>
                        <p>La Sabrosa Latin Band</p>
                        {#<div id="defaultCountdown"></div>#}
                        {#<div class="noo-countdown-footer">
                            <a href="#" data-text="discover now"><span>discover now</span></a>
                        </div>#}

                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <div class="widget mailchimp-widget">
                                    <h4 class="widget-title">Enterate de todos los eventos, shows y conciertos de la banda</h4>
                                    <!-- Begin MailChimp Signup Form -->
                                    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                                    <style type="text/css">
                                        #mc-embedded-subscribe:hover {
                                            background-color: #d91f26 !important;
                                            color: #ffffff;
                                        }
                                        #mc-embedded-subscribe {
                                            height: 35px;
                                            display: inline-block;
                                            border: 0;
                                            -webkit-border-radius: 0;
                                            border-radius: 0;
                                            font-size: 14px;
                                            color: #777777;
                                            padding: 0 22px;
                                            background-color: #d91f26 !important;
                                            text-transform: uppercase;
                                            -webkit-transition: all 0.4s ease 0s;
                                            -o-transition: all 0.4s ease 0s;
                                            transition: all 0.4s ease 0s;
                                        }
                                    </style>
                                    <div id="mc_embed_signup" class="mailchimp-widget">
                                        <form action="//karolcowan.us14.list-manage.com/subscribe/post?u=de87fa77955e7c37566009c4a&amp;id=d100b18dbd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">
                                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Direccion de Email" required style="width: 100%">
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_de87fa77955e7c37566009c4a_d100b18dbd" tabindex="-1" value=""></div>
                                                <div class="clear">
                                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="width: 100%">
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!--End mc_embed_signup-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>