{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}


{% block metatags %}
        <meta property="og:url" content="http://karolcowan.com/eventos/clases">
        <meta property="og:title" content="Horario Clases">
        <meta property="og:description" content="Clases de Bailes Populares Cubanos, Rumba y sus géneros como El Guaguanco, Yambu y Columbia y Danzas Afrocubanas">

        <meta property="og:image" content="http://karolcowan.com/images/flyer_clases.gif?t=12345?">
        <meta property="og:image:width" content="1900"/>
        <meta property="og:image:height" content="976"/>

        <meta property="og:video" content="http://karolcowan.com/clases.mp4?t=12345?">
        <meta property="og:image:type" content="video/mp4" />

        <meta name="twitter:title" content="Horario Clases">
        <meta name="twitter:image" content="http://karolcowan.com/images/flyer_clases.jpg">
        <meta name="twitter:text:description" content="Clases de Bailes Populares Cubanos, Rumba y sus géneros como El Guaguanco, Yambu y Columbia y Danzas Afrocubanas">
{% endblock %}

{% block content %}

    <style>
        .flex-video {
            position: initial;
            padding-top: 0px;
        }
    </style>

    <!-- SUBHEADER ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p>
                    Profesor y Clases Particulares
                </p>
            </div>
        </div>
    </div>

<style>
    .header-unit {
        height: 500px;
        position: relative;
        padding: 20px;
    }
    #video-container {
        position: absolute;
    }
    #video-container {
        top:0%;
        left:0%;
        height:100%;
        width:100%;
        overflow: hidden;
    }
    video {
        position:absolute;
        z-index:0;
    }
    video.fillWidth {
        width: 100%;
    }

    #overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 1;
        opacity: 0.75;
        color: #FFFFFF;
        overflow-y: auto;;
    }

    #overlay .columns p{
        font-weight: bold;
        font-size: 1.1em;
        color: #FFFFFF;
    }
</style>

<div class="header-unit">
    <div id="video-container">
        <div id="overlay">
            <div class="row">
                <div class="columns">
                    <br><br>
                    <p>
                        <b>Nuevas clases de Latin Jazz!!!</b> Es una tecnica que fusiona varias disciplinas, como el Jazz, danzas populares cubanas (Son, Salsa, Rumba, entre otras), danza moderna y Cabaret Cubano!
                        <br><br>Estas clases son excelentes para todas aquellas personas que quieran iniciarse en la tecnica, como asi tambien para aquellas personas que ya cuentan con conocimientos tecnicos.
                        <br><br>En las clases, se veran: Tecnica, Coordinacion y Sensacion de Espacio, Improvisacion, Resistencia Corporal, Interpretacion, Cadencia, Preparacion para Coreografia

                        <br><br>
                        Otras Clases:
                        <ul style="list-style: initial; padding-left: 40px">
                            <li>
                                Bailes Populares Cubanos: Jueves a las 21:00hs en Mamerta Espacio Cultural (Lavalle 4080, CABA)
                            </li>
                            <li>
                                Rumba y Danzas Afrocubanas: Sabados a las 16:00hs (en Espacio Cubarte)
                            </li>
                        </ul>

                        <br><b>Y clases Particulares de Son, Salsa, Rumba y Danzas Populares Cubanas.</b>
                        <br><br><b>"EL ARTE ES EL ALMA DE LA CIVILIZACIÓN"</b>
                    </p>
                </div>
            </div>

        </div>
        <video autoplay loop class="fillWidth" muted>
            <source src="/videos/clase_latin_jazz.mp4#t=32" type="video/mp4"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div><!-- end video-container -->
</div><!-- end .header-unit -->

    <div class="row">
        <div class="twelve columns">
            <h6><a href="/suscripciones">Suscribite a las clases</a></h6>
        </div>
    </div>

    <div class="row">
        <div class="four columns" style="margin-top: 1%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=USrKItCm3Yg" />
            </video>
        </div>
        <div class="four columns" style="margin-top: 1%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=nT6F2cbnacw" />
            </video>
        </div>
        <div class="four columns" style="margin-top: 1%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=_EuT5pFbZSk" />
            </video>
        </div>
    </div>

    <div class="row">
        <div class="four columns" style="margin-top: 1%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=u0AMGOGZzYY" />
            </video>
        </div>
        <div class="four columns" style="margin-top: 1%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=DpC8pQgiBpE" />
            </video>
        </div>
        <div class="four columns" style="margin-top: 1%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=gFvsd4FGmk0" />
            </video>
        </div>
    </div>

    <script>
        $('video').mediaelementplayer({
            autoplay: false,
            success: function(media, node, player) {
                //player.play();
            }
        });
    </script>

    <br>
    <div class="row">
        <div class="four columns">
            <img src="/images/flyers/clases_latin_jazz.png" style="width: 100%">
        </div>
        <div class="four columns">
            <img src="/images/flyers/flyer_clases_danza_popular.png" style="width: 100%">
        </div>
        <div class="four columns">
            <img src="/images/flyers/flyer_rumba_sabados.jpg" style="width: 100%">
        </div>
    </div>

{% endblock %}