{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}

{% block content %}

    <style>
        .flex-video {
            position: initial;
            padding-top: 0px;
        }
    </style>

    <!-- SUBHEADER ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p>
                    Profesor y Clases Particulares
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>

    <div class="row">
        <div class="six columns" style="margin-top: 4%">
            <video preload="none" autoplay loop width="100%"  style="width: 100%">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=USrKItCm3Yg" />
            </video>
            <script>

                $('video').mediaelementplayer({
                    autoplay: true,
                    success: function(media, node, player) {
                        player.play();
                    }
                });
            </script>
        </div>
        <div class="six columns">
            <img src="/images/flyers/flyer_latin_jazz.jpg" style="width: 100%">
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            <img src="/images/flyers/flyer_clases_danza_popular.png" style="width: 100%">
        </div>
        <div class="six columns">
            <img src="/images/flyers/flyer_rumba_sabados.jpg" style="width: 100%">
        </div>
    </div>
{% endblock %}