{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}


{% block metatags %}
<meta property="og:url" content="http://karolcowan.com/eventos/mi-receta">
<meta property="og:title" content="Mi Receta">
<meta property="og:description" content="Primer Single: Mi Receta">

<meta property="og:image" content="http://karolcowan.com/images/flyers/clases_latin_jazz.png">
<meta property="og:image:width" content="1900"/>
<meta property="og:image:height" content="976"/>

<meta name="twitter:title" content="Mi Receta">
<meta name="twitter:image" content="http://karolcowan.com/images/flyers/clases_latin_jazz.png">
<meta name="twitter:text:description" content="Primer Single: Mi Receta">
{% endblock %}

{% block content %}

<!-- SUBHEADER ================================================== -->
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p>
                Mi Receta
            </p>
        </div>
    </div>
</div>

<style>
    video {
        position:absolute;
        z-index:0;
    }
    video.fillWidth {
        width: 100%;
    }

    #overlay .columns p{
        font-weight: bold;
        font-size: 1.1em;
        color: #FFFFFF;
    }
</style>

<div class="row">
    <div class="twelve columns">
        <p>
            <br>
            Les dejo mi primer singe: <b>"Mi Receta"</b>. Espero que lo disfruten. En Agosto hare un concierto donde, no
            solo cantaré este tema junto a mi banda, sino muchos otros mas temas, que abarcan diferente estilos, pero
            sin quitarle mi sabor latino!
            <br>
            <br><b>"EL ARTE ES EL ALMA DE LA CIVILIZACIÓN"</b>
        </p>
    </div>
</div>

<div class="row">
    <div class="nine columns">
        <video preload="none" autoplay loop >
            <source type="video/youtube" src="https://youtu.be/pAf7R7cZfKI" />
        </video>
    </div>
</div>

<script>
    $('video').mediaelementplayer({
        autoplay: false,
        success: function(media, node, player) {
            //player.play();
        }
    });
</script>


{% endblock %}