{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}

{% block content %}

    <!-- SUBHEADER ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p>
                    Eventos Profesionales
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>

    <div class="row">
        <div class="twelve columns">
            <h4>
                Me dedico a brindar un servicio de calidad, tranquilidad y privacidad con la atención personalizada que usted necesite.
                <br><br>
                Su evento es tan importante para mi como para usted, por eso me especializo en diversas áreas que
                brindan soluciones a medida  aportando ideas, recursos humanos y elementos propios.
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            <video preload="none" autoplay loop width="100%" height="460"  style="width: 100%;">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=mPg-FeWaNZ0" />
            </video>
        </div>

        <div class="six columns">
            <video preload="none" autoplay loop width="100%" height="460"  style="width: 100%;">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=Cqz46r1FdKw" />
            </video>
        </div>
    </div><br>
    <div class="row">
        <div class="six columns">
            <video preload="none" autoplay loop width="100%" height="460"  style="width: 100%;">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=0Z8_DTfdgx8" />
            </video>
        </div>

        <div class="six columns">
            <video preload="none" autoplay loop width="100%" height="460"  style="width: 100%;">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=g9sCodNse98" />
            </video>
        </div>
    </div><br>
    <div class="row">
        <div class="six columns">
            <video preload="none" autoplay loop width="100%" height="460"  style="width: 100%;">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=OhdGVIGBL5s" />
            </video>
        </div>
    </div>


    <script>

        $('video').mediaelementplayer({
            autoplay: true,
            success: function(media, node, player) {
                //player.play();
            }
        });
    </script>
{% endblock %}