{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}

{% block content %}

    <!-- SUBHEADER ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p style="font-weight: bold; font-size: 2em">OOOOOOOOOUUUPPSSS!!</p>
                <p>Página no encontrada. Parece que algo no esta bien! Puedes volver haciendo click <a href="/" style="font-weight: bold; font-size: 1.2em">aquí</a></p>
            </div>
        </div>
    </div>

    <img src="/images/404.jpg" style="width: 100%">
    <div class="row">
        <div class="twelve columns">

        </div>
    </div>

    <p style="visibility: hidden">{{ message }}</p>
{% endblock %}