{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}

{% block content %}
    <!-- SUBHEADER ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p>
                    Curriculum Vitae
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>

    <div class="row">
        <div class="twelve columns">
            <a href="/KarolCowanCV.pdf" target="_blank">Download CV</a>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <iframe src="http://docs.google.com/gview?url=https://s3-us-west-1.amazonaws.com/veropublic/Karol.Cowan_Junco.CV+artistico.pdf&embedded=true"
                    style="width: 100%; height:700px;" frameborder="0"></iframe>
        </div>
    </div>


    <div class="row">
        <div class="twelve columns">
            <a href="https://s3-us-west-1.amazonaws.com/veropublic/Karol.Cowan_Junco.CV+artistico.pdf" target="_blank">Download CV</a>
        </div>
    </div>
{% endblock %}