<div style="background: #33877d;padding: 10px;margin: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
    <h3 style="color: #FFFFFF;margin: 0;padding: 0;font-family: 'Arial Black', 'Arial', 'Helvetica', Gadget, sans-serif;line-height: 1.1;margin-bottom: 15px;font-weight: bold;font-size: 24px;padding-top: 15px;">Inscripciones | Taller con Musicos en Vivo</h3>
</div>

<br style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;"><br style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
<div style="background-repeat: no-repeat;background-size: contain;margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
    <table class="body-wrap" style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;width: 100%;">
        <tr style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
            <td class="container" style="margin: 0 auto!important;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;display: block!important;max-width: 690px!important;clear: both!important;">
                <div class="column-wrap left-pad" style="margin: 0 auto;padding: 0!important;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;max-width: 690px!important;padding-left: 15px !important;">
                    <p style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 16px;line-height: 1.4;color: #363636;"><b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Nombre y Apellido:</b> {{ data.name }}</p>
                    <p style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 16px;line-height: 1.4;color: #363636;"><b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Email:</b> {{ data.email }}</p>
                    <br style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
                    <p style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 16px;line-height: 1.4;color: #363636;"><b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Metodo de Pago: </b>
                        {% if data.forma_pago == 'cash' %}
                        Efectivo
                        {% elseif data.forma_pago == 'card'  %}
                        Mercado Pago
                        {% elseif data.forma_pago == 'bank'  %}
                        Transferencia Bancaria
                        {% endif %}
                    </p>

                    {% if data.forma_pago == 'bank' %}
                        <p>Banco: Santander Rio</p>
                        <p>CBU: 0720172788000036684290</p>
                        <p>Nro de Cuenta: 172- 3668429</p>
                        <p>Pasaporte: I665754</p>

                        <br>
                        <p>Nota:</p>
                        <p>Por favor enviar un mail veroyv412@gmail.com en caso de que haber problemas con la transferencia.</p>
                    {% endif %}

                    <br style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
                    <p style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 16px;line-height: 1.4;color: #363636;"><b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Mensaje:</b> {{ data.comment }}</p><p style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 16px;line-height: 1.4;color: #363636;">
                    </p>

                    <p><img src="http://www.karolcowan.com/images/flyers/sabado_rumba_baila.jpg" style="width: 80%"></p>
                </div>
            </td>
        </tr>
    </table>

    <!--<br style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;"><br style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
    <table class="body-wrap" style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;width: 100%;">
        <tr style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
            <td class="container" style="margin: 0 auto!important;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;display: block!important;max-width: 690px!important;clear: both!important;">
                <div class="column-wrap left-pad" style="margin: 0 auto;padding: 0!important;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;max-width: 690px!important;padding-left: 15px !important;">
                    <h2 style="margin: 0;padding: 0;font-family: 'Arial Black', 'Arial', 'Helvetica', Gadget, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #33877d;font-weight: 200;font-size: 28px;">Horarios y Precios de las Clases</h2>

                    <ul style="list-style: initial;margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 16px;line-height: 1.4;color: #363636;">
                        <li style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-left: 5px;list-style-position: inside;">
                            <b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Bailes Populares Cubanos</b>: Lunes a las 19:00hs en Acevedo 768 (Palermo, Capital Federal) | <b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">$60</b> la clase
                        </li>
                        <li style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-left: 5px;list-style-position: inside;">
                            <b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Rumba y Danzas Afrocubanas</b>: Sabados a las 16:00hs (en Espacio Cubarte) | <b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">$60</b> la clase
                        </li>
                        <li style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;margin-left: 5px;list-style-position: inside;">
                            <b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">Latin Jazz</b>: Miercoles a las 19:00hs en Acevedo 768 (Palermo, Capital Federal) | <b style="margin: 0;padding: 0;font-family: &quot;Verdana&quot;,&quot;Trebuchet&quot;,&quot;Arial&quot;,&quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">$70</b> la clase
                        </li>
                    </ul>

                </div>
            </td>
        </tr>
    </table>-->
</div>