{% block page_title %}Home{% endblock %}

{% extends 'layout/base.html' %}
{% block title%}Karol Cowan{% endblock %}


{% block metatags %}
    <meta property="og:url" content="http://karolcowan.com/sabado-de-rumba">
    <meta property="og:title" content="Inscripciones Clases Rumba con Tambor en Vivo">
    <meta property="og:description" content="Inscripciones Clases Rumba con Tambor en Vivo">
    <meta property="og:image" content="{{base_url}}/images/flyers/flyer_sabado_rumba.png">
    <meta property="og:image:width" content="1417"/>
    <meta property="og:image:height" content="800"/>

    <meta name="twitter:title" content="Inscripciones Clases Rumba con Tambor en Vivo">
    <meta name="twitter:image" content="{{base_url}}/images/flyers/flyer_sabado_rumba.png?t={{ 'now'|date('m-d-Y-h-s') }}">
    <meta name="twitter:text:description" content="Inscripciones Clases Rumba con Tambor en Vivo">
{% endblock %}

{% block content %}
 <script>
        $(document).ready(function(){
            $('.icheck').iCheck({
                checkboxClass: 'icheckbox_square-aero',
                radioClass: 'iradio_square-aero',
                increaseArea: '20%' // optional
            });

            $(".icheck").on("ifChanged", function (e) {
                var _class = $(this).val();
                $('.'+_class+"_wrapper").toggle();
            });
        });
    </script>

    <!-- SUBHEADER ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p>
                    El Sabado de la Rumba | Inscripciones
                </p>
            </div>
        </div>
    </div>

    <div class="hr"></div>
    <form method="post" action="/sabado-de-rumba" id="contactform">
        <div class="row">
            <div class="twelve columns">
                {% if inscripcion_thankyou %}
                    <div class="alert-box default">
                        {{ inscripcion_thankyou }}. <a href="" class="close">x</a>
                    </div>
                {% endif %}

                <div class="panel">
                    <p>
                        <h4>Medios de Pago:</h4>
                        <h6>
                            SOLICITAMOS QUE EL PAGO SEA POR ADELANTADO POR UN TEMA DE ORGANIZACION CON LOS MUSICOS Y EL SALON. <br>LE ENVIAREMOS LOS DATOS DEL C.B.U. A SU CASILLA DE MAIL.
                            <br><br><b>Por Favor, apenas hecha la transferencia avisar al siguiente mail: veroyv412@gmail.com, con nombre y apellido para poder ser anotados en la lista. Muchas gracias</b>
                        </h6>
                    </p>

                    <input type="hidden" name="forma_pago" value="bank">
                </div>



                <div class="row">
                    <div class="twelve columns">
                        <div class="panel">
                            <p>
                            <h4>Cantidad de Clases:</h4>
                            <ul>
                                <li>
                                    <br><input type="radio" name="cantidad_clases" value="2" class="icheck" checked="checked">
                                    2 Clases de $350
                                </li>
                                <li>
                                    <br><input type="radio" name="cantidad_clases" value="1" class="icheck">
                                    1 Clase de $200
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row suscripcion">
            <div class="six columns">
                <fieldset>
                    <legend>Inscribite</legend>
                    <div class="form">
                        <div class="six columns noleftmargin">
                            <label>Nombre y Apellido</label>
                            <input type="text" name="name" class="smoothborder" placeholder="Tu Nombre y Tu Apellido"/>
                        </div>
                        <div class="six columns noleftmargin">
                            <label>Dirección de Email</label>
                            <input type="text" name="email" class="smoothborder" placeholder="Tu Dirección de Email"/>
                        </div>
                        <div class="twelve columns noleftmargin">
                            <label>Telefono</label>
                            <input type="text" name="phone_number" class="smoothborder" placeholder="Tu Telefono"/>
                        </div>
                        <div class="twelve columns noleftmargin">
                            <br><label>Mensaje</label>
                            <textarea name="comment" class="smoothborder ctextarea" rows="8" placeholder="Mensaje"></textarea>
                        </div>

                        <input type="submit" id="submit" class="readmore" value="Enviar" style="width: 96%">
                    </div>
                    <br>
                </fieldset>
            </div>
            <div class="six columns">
                <img class="blogimage" src="{{base_url}}/images/flyers/flyer_sabado_rumba.png">
            </div>
        </div>
    </form>

{% endblock %}