<style type="text/css">

    /* -------------------------------------
            GLOBAL
    ------------------------------------- */
    * {
        margin:0;
        padding:0;
    }
    * { font-family: "Verdana","Trebuchet","Arial","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

    img {
        max-width: 100%;
    }
    .collapse {
        margin:0;
        padding:0;
    }
    body {
        -webkit-font-smoothing:antialiased;
        -webkit-text-size-adjust:none;
        width: 100%!important;
        height: 100%;
    }


    /* -------------------------------------
            ELEMENTS
    ------------------------------------- */
    a { color: #005281;}

    .btn {
        text-decoration:none;
        color: #FFF;
        background-color: #666;
        padding:10px 16px;
        font-weight:bold;
        margin-right:10px;
        text-align:center;
        cursor:pointer;
        display: inline-block;
    }

    p.callout {
        padding:15px;
        background-color:#E6E6E6;
        margin-bottom: 15px;
    }
    .callout a {
        font-weight:bold;
        color: #2BA6CB;
    }

    table.social {
        /*  padding:15px; */
        background-color: #ebebeb;

    }
    .social .soc-btn {
        padding: 3px 7px;
        font-size:12px;
        margin-bottom:10px;
        text-decoration:none;
        color: #FFF;font-weight:bold;
        display:block;
        text-align:center;
    }
    a.fb { background-color: #3B5998!important; }
    a.tw { background-color: #1daced!important; }
    a.gp { background-color: #DB4A39!important; }
    a.ms { background-color: #000!important; }

    .sidebar .soc-btn {
        display:block;
        width:100%;
    }

    /* -------------------------------------
            HEADER
    ------------------------------------- */
    table.head-wrap { width: 100%;}

    .header.container table td.logo {text-align: center; }

    /* -------------------------------------
            BODY
    ------------------------------------- */
    table.body-wrap { width: 100%;}

    /* -------------------------------------
            FOOTER
    ------------------------------------- */
    table.footer-wrap { width: 100%;    clear:both!important;
    }
    .footer-wrap .container .content {text-align: center;}
    .footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;font-size:10px;font-weight: bold;
    }


    /* -------------------------------------
            TYPOGRAPHY
    ------------------------------------- */
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Arial Black', 'Arial', 'Helvetica', Gadget, sans-serif; line-height: 1.1; margin-bottom:15px; color:#33877d;
    }
    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

    h1 { font-weight:200; font-size: 32px; color:#33877d;}
    h2 { font-weight:200; font-size: 28px;}
    h3 { font-weight:500; font-size: 24px;}
    h4 { font-weight:500; font-size: 20px;}
    h5 { font-family: 'Arial', Helvetica, sans-serif;font-weight:bold; font-size: 17px; text-transform: uppercase; color:#33877d; margin-top:10px; margin-bottom:20px;}
    h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#33877d;}

    .collapse { margin:0!important;}

    p, ul {
        margin-bottom: 10px;
        font-weight: normal;
        font-size:16px;
        line-height:1.4;
        color:#363636;
    }

    .column p{line-height: 1.3;}

    p.lead { font-size:17px; }
    p.last { margin-bottom:0px;}

    ul li {
        margin-left:5px;
        list-style-position: inside;
    }

    .container .body-header{text-align: center;}

    /* -------------------------------------
            SIDEBAR
    ------------------------------------- */
    ul.sidebar {
        background:#ebebeb;
        display:block;
        list-style-type: none;
    }
    ul.sidebar li { display: block; margin:0;}
    ul.sidebar li a {
        text-decoration:none;
        color: #666;
        padding:10px 16px;
        /*  font-weight:bold; */
        margin-right:10px;
        /*  text-align:center; */
        cursor:pointer;
        border-bottom: 1px solid #777777;
        border-top: 1px solid #FFFFFF;
        display:block;
        margin:0;
    }
    ul.sidebar li a.last { border-bottom-width:0px;}
    ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}

    /* ---------------------------------------------------
            RESPONSIVENESS
            Nuke it from orbit. It's the only way to be sure.
    ------------------------------------------------------ */

    /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
    .container {
        display:block!important;
        max-width:690px!important;
        margin:0 auto!important; /* makes it centered */
        clear:both!important;
    }

    /* This should also be a block element, so that it will fill 100% of the .container */
    .content {
        padding:15px;
        max-width:690px;
        margin:0 auto;
        display:block;
    }

    /* Let's make sure tables in the content area are 100% wide */
    .content table { width: 100%; }


    /* Odds and ends */
    .column {
        width: 230px;
        float:left;
    }
    .column tr td { padding: 15px; text-align: center; }
    .billing-column #billing-details  tr td {padding: 5px;}

    .column img {max-width:80%;}

    .column-wrap {
        padding:0!important;
        margin:0 auto;
        max-width:690px!important;
    }
    .column table { width:100%;}

    .left-pad{
        padding-left:15px !important;
    }

    h3, h5{
        font-weight: bold;
        padding-top:15px;
    }

    /* Be sure to place a .clear element after each set of columns, just to be safe */
    .clear { display: block; clear: both; }


    /* -------------------------------------------
            PHONE
            For clients that support media queries.
            Nothing fancy.
    -------------------------------------------- */
    @media only screen and (max-width: 700px) {

        a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

        div[class="column"] { width: auto!important; float:none!important; text-align: center;}

        table.social div[class="column"] {
            width:auto!important;
        }

    }
    @media only screen and (max-width: 400px) {

        a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

        div[class="column"] { width: auto!important; float:none!important; text-align: center;}

        div[class="column"] img{max-width:150px;}

        h5{font-size:24px;}

        table.social div[class="column"] {
            width:auto!important;
        }

    }
</style>


<div style="background: #33877d; padding: 10px">
    <h3 style="color: #FFFFFF">Karol Cowan - Suscripcion</h3>
</div>

<br><br>
<div style="background-repeat: no-repeat; background-size: contain; background-image: url('http://res.cloudinary.com/dplksnehy/image/upload/c_crop,g_north_west,w_1400/v1459535140/karol_cowan/12698566_10206675141130389_992575869934933106_o.jpg')">
    <table class="body-wrap">
        <tr>
            <td class="container">
                <div class="column-wrap left-pad">
                    <p><b>Nombre y Apellido:</b> {{ data.name }}</p>
                    <p><b>Email:</b> {{ data.email }}</p>
                    <br>
                    <p><b>Clases a las que se quiere suscribir</b></p>
                    <ul>
                        {% for clase in data.clases  %}
                            <li>{{ clase }}</li>
                        {% endfor %}
                    </ul>

                    <br>
                    <p><b>Porque quieres tomar clases</b></p>

                    <ul>
                        {% for tomar_clase in data.tomar_clases  %}
                            <li>{{ tomar_clase }}</li>
                        {% endfor %}
                    </ul>

                    <br>
                    <p><b>Mensaje:</b> {{ data.comment }}<p>
                </div>
            </td>
        </tr>
    </table>

    <br><br>
    <table class="body-wrap">
        <tr>
            <td class="container">
                <div class="column-wrap left-pad">
                    <h2>Horarios y Precios de las Clases</h2>

                    <ul style="list-style: initial;">
                        <li>
                            <b>Bailes Populares Cubanos</b>: Lunes a las 19:00hs en Acevedo 768 (Palermo, Capital Federal) | <b>$60</b> la clase
                        </li>
                        <li>
                            <b>Rumba y Danzas Afrocubanas</b>: Sabados a las 16:00hs (en Espacio Cubarte) | <b>$60</b> la clase
                        </li>
                        <li>
                            <b>Latin Jazz</b>: Miercoles a las 19:00hs en Acevedo 768 (Palermo, Capital Federal) | <b>$70</b> la clase
                        </li>
                    </ul>

                </div>
            </td>
        </tr>
    </table>
</div>
