<!-- SLIDER
================================================== -->
<div id="ei-slider" class="ei-slider">
    <ul class="ei-slider-large">
        <li>
            <img src="images/slider/1.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2></h2>
                <!--<h3>Smile</h3>-->
            </div>
        </li>
        <li>
            <img src="images/slider/22.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">cuerpo de baile de</h2>
                <h3 style="font-size: medium">El Puma Rodriguez</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/2.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Insoladas</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/3.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/23.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Taller de Columbia</h2>
                <h3>Proyecto Mestizo</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/4.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">Cuarteto Amakura</h2>
                <h3 style="font-size: medium">El Torreon del Monje</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/5.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3>Ensayo</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/20.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>El Velo</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/7.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/8.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/9.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/10.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/11.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">Cuarteto Amakura</h2>
                <h3 style="font-size: medium">El Torreon del Monje</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/12.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">Teatro Porteño</h2>
                <h3 style="font-size: medium">con Gustavo Moro</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/13.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">Casa de Anibal Troilo</h2>
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="images/slider/14.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">Pasaje de la Defensa</h2>
                <h3>San Telmo</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/15.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Profesor</h2>
                <h3>Cubarte</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/16.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2 style="font-size: small">Cuarteto Amakura</h2>
                <h3 style="font-size: medium">El Torreon del Monje</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/17.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Profesor</h2>
                <h3>Saoco</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/18.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3>El ECUNHI</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/19.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Profesor</h2>
                <h3>Mar del Plata</h3>
            </div>
        </li>
        <li>
            <img src="images/slider/6.jpg" class="responsiveslide">
            <div class="ei-title">
                <h2>Ominira</h2>
                <h3></h3>
            </div>
        </li>
    </ul>
    <!-- slider-thumbs -->
    <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        <li><a href="#">Slide 1</a><img src="images/slider/thumb/1.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/22.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/2.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/3.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/23.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/4.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/5.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/20.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/7.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/8.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/9.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/10.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/11.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/12.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/13.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/14.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/15.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/16.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/17.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/18.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/19.jpg" class="slideshowthumb" alt="thumb01"/></li>
        <li><a href="#">Slide 2</a><img src="images/slider/thumb/6.jpg" class="slideshowthumb" alt="thumb01"/></li>
    </ul>
</div>