<div class="footer-player">
    <div class="album-playlist">
        <ul>
            <li class="album-playlist-title">
				<span class="playlist-play">
					Play
				</span>
				<span class="playlist-release">
					Play
					<small>(Label)</small>
				</span>
				<span class="playlist-tract">
					Track title
					<small>(Track author)</small>
				</span>
				<span class="playlist-page">
					Page
				</span>
				<span class="playlist-delete">
					Delete
				</span>
            </li>
			<li class="album-playlist-item" data-thumb="<img width=&quot;150&quot; height=&quot;150&quot; src=&quot;/images/album/mi_receta.png&quot; alt=&quot;rock16&quot; />" data-name="Mi Receta" data-artist="Karol Cowan">
				<span class="playlist-play">
					<a href="/files/playlist/mi_receta.mp3">
						<i class="fa fa-play"></i>
					</a>
				</span>
				<span class="playlist-release">
					<a href="#">Single</a>
				</span>
				<span class="playlist-tract">
					<a href="#">Mi Receta</a>
					<small><a href="javascript:void(0)">Karol Cowan</a></small>
				</span>
				<span class="playlist-page">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=XSsJEwJN0pg" target="_blank"><i class="fa fa-share"></i></a>
				</span>
				<span class="playlist-delete">
					<a href="#"><i class="fa fa-times"></i></a>
				</span>
			</li>

			<li class="album-playlist-item" data-thumb="<img width=&quot;150&quot; height=&quot;150&quot; src=&quot;/images/album/mi_receta.png&quot; alt=&quot;rock16&quot; />" data-name="Creo" data-artist="Karol Cowan">
				<span class="playlist-play">
					<a href="/files/playlist/creo_live.mp3">
						<i class="fa fa-play"></i>
					</a>
				</span>
				<span class="playlist-release">
					<a href="#">Live</a>
				</span>
				<span class="playlist-tract">
					<a href="#">Creo en Vivo</a>
					<small><a href="javascript:void(0)">Karol Cowan</a></small>
				</span>
				<span class="playlist-page">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=t7ZEJgaK_D4" target="_blank"><i class="fa fa-share"></i></a>
				</span>
				<span class="playlist-delete">
					<a href="#"><i class="fa fa-times"></i></a>
				</span>
			</li>

			<li class="album-playlist-item" data-thumb="<img width=&quot;150&quot; height=&quot;150&quot; src=&quot;/images/album/mi_receta.png&quot; alt=&quot;rock16&quot; />" data-name="Te Quiero Con Locura" data-artist="Karol Cowan">
				<span class="playlist-play">
					<a href="/files/playlist/te_quiero_con_locura.mp3">
						<i class="fa fa-play"></i>
					</a>
				</span>
				<span class="playlist-release">
					<a href="#">Single</a>
				</span>
				<span class="playlist-tract">
					<a href="#">Te Quiero con Locura</a>
					<small><a href="javascript:void(0)">Karol Cowan</a></small>
				</span>
				<span class="playlist-page">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=t7ZEJgaK_D4" target="_blank"><i class="fa fa-share"></i></a>
				</span>
				<span class="playlist-delete">
					<a href="#"><i class="fa fa-times"></i></a>
				</span>
			</li>

			<li class="album-playlist-item" data-thumb="<img width=&quot;150&quot; height=&quot;150&quot; src=&quot;/images/album/mi_receta.png&quot; alt=&quot;rock16&quot; />" data-name="Nada ha quedado Claro" data-artist="Karol Cowan">
				<span class="playlist-play">
					<a href="/files/playlist/nada_ha_quedado_claro.mp3">
						<i class="fa fa-play"></i>
					</a>
				</span>
				<span class="playlist-release">
					<a href="#">Single</a>
				</span>
				<span class="playlist-tract">
					<a href="#">Nada Ha Quedado Claro</a>
					<small><a href="javascript:void(0)">Karol Cowan</a></small>
				</span>
				<span class="playlist-page">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=t7ZEJgaK_D4" target="_blank"><i class="fa fa-share"></i></a>
				</span>
				<span class="playlist-delete">
					<a href="#"><i class="fa fa-times"></i></a>
				</span>
			</li>
        </ul>
    </div>
    <div class="album-player">
        <div class="album-player-embed">
            <span class="contro-album-player contro-down-player"><i class="fa fa-angle-down"></i></span>
            <span class="contro-album-player contro-up-player"><i class="fa fa-angle-up"></i></span>
            <audio class="album-audio-embed">
                <source src="#" type="audio/mpeg"/>
            </audio>
        </div>
    </div>
</div>

<script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='/js/modernizr-2.7.1.min.js'></script>
<script type='text/javascript' src='/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='/js/jquery.carouFredSel-6.2.1.js'></script>
<script type='text/javascript' src='/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='/js/hoverIntent-r7.min.js'></script>
<script type='text/javascript' src='/js/superfish-1.7.4.min.js'></script>
<script type='text/javascript' src='/js/main.js'></script>
<script type='text/javascript' src='/js/mediaelement-and-player.js'></script>
<script type='text/javascript' src='/js/player.js'></script>
<script type='text/javascript' src='/js/jquery.plugin.min.js'></script>
<script type='text/javascript' src='/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='/js/jquery.mb.YTPlayer.js'></script>
<script type='text/javascript' src='/js/jquery.parallax.js'></script>
<script type='text/javascript' src='/js/owl.carousel.min.js'></script>
<script type='text/javascript' src='/js/jssor.slider-21.1.5.min.js'></script>
<script type='text/javascript' src='/js/calendar/zabuto_calendar.min.js'></script>

<script type="text/javascript">
	var $height_w   = jQuery(window).height();
	$('.noo-countdown').css('height',$height_w+'px');

	$(window).resize(function(){
		var $height_w = jQuery(window).height();
		$('.noo-countdown').css('height',$height_w+'px');
	});

	$(function () {
		$('.full-background li:first-child').show();
		var myVar = '';
		clearInterval(myVar);
		myVar = setInterval(function(){
			jQuery('.full-background li:first-child').fadeOut(1200).next('li').fadeIn(1200).end().appendTo('.full-background');
		},3500);

		var onMobile = false;
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) { onMobile = true; }

		if( ( onMobile === false ) ) {
			$(".player").mb_YTPlayer();
		} else {
			/* as a fallback we add a special class to the header which displays a poster image */
			$('.noo-countdown').addClass('video-section');
		}
	});

</script>