<div class="footer-player">
    <div class="album-playlist">
        <ul>
            <li class="album-playlist-title">
				<span class="playlist-play">
					Play
				</span>
				<span class="playlist-release">
					Play
					<small>(Label)</small>
				</span>
				<span class="playlist-tract">
					Track title
					<small>(Track author)</small>
				</span>
				<span class="playlist-page">
					Page
				</span>
				<span class="playlist-delete">
					Delete
				</span>
            </li>
			<li class="album-playlist-item" data-thumb="<img width=&quot;150&quot; height=&quot;150&quot; src=&quot;/images/album/mi_receta.png&quot; alt=&quot;rock16&quot; />" data-name="Mi Receta" data-artist="Karol Cowan">
				<span class="playlist-play">
					<a href="/files/playlist/mi_receta.mp3">
						<i class="fa fa-play"></i>
					</a>
				</span>
				<span class="playlist-release">
					<a href="#">Single</a>
				</span>
				<span class="playlist-tract">
					<a href="#">Mi Receta</a>
					<small><a href="javascript:void(0)">Karol Cowan</a></small>
				</span>
				<span class="playlist-page">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.youtube.com/watch?v=XSsJEwJN0pg" target="_blank"><i class="fa fa-share"></i></a>
				</span>
				<span class="playlist-delete">
					<a href="#"><i class="fa fa-times"></i></a>
				</span>
			</li>

			<li class="album-playlist-item" data-thumb="<img width=&quot;150&quot; height=&quot;150&quot; src=&quot;/images/album/mi_receta.png&quot; alt=&quot;rock16&quot; />" data-name="Creo" data-artist="Karol Cowan">
				<span class="playlist-play">
					<a href="/files/playlist/creo_live.mp3">
						<i class="fa fa-play"></i>
					</a>
				</span>
				<span class="playlist-release">
					<a href="#">Live</a>
				</span>
				<span class="playlist-tract">
					<a href="#">Creo en Vivo</a>
					<small><a href="javascript:void(0)">Karol Cowan</a></small>
				</span>
				<span class="playlist-page">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=t7ZEJgaK_D4" target="_blank"><i class="fa fa-share"></i></a>
				</span>
				<span class="playlist-delete">
					<a href="#"><i class="fa fa-times"></i></a>
				</span>
			</li>
        </ul>
    </div>
    <div class="album-player">
        <div class="album-player-embed">
            <span class="contro-album-player contro-down-player"><i class="fa fa-angle-down"></i></span>
            <span class="contro-album-player contro-up-player"><i class="fa fa-angle-up"></i></span>
            <audio class="album-audio-embed">
                <source src="#" type="audio/mpeg"/>
            </audio>
        </div>
    </div>
</div>

<script type='text/javascript' src='//code.jquery.com/jquery-1.11.3.min.js'></script>
<script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='/js/modernizr-2.7.1.min.js'></script>
<script type='text/javascript' src='/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='/js/jquery.carouFredSel-6.2.1.js'></script>
<script type='text/javascript' src='/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/hoverIntent-r7.min.js'></script>
<script type='text/javascript' src='/js/superfish-1.7.4.min.js'></script>
<script type='text/javascript' src='/js/main.js'></script>
<script type='text/javascript' src='/js/mediaelement-and-player.js'></script>
<script type='text/javascript' src='/js/player.js'></script>
<script type='text/javascript' src='/js/jquery.plugin.min.js'></script>
<script type='text/javascript' src='/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='/js/jquery.mb.YTPlayer.js'></script>
<script type='text/javascript' src='/js/jquery.parallax.js'></script>
<script type='text/javascript' src='/js/owl.carousel.min.js'></script>
<script type='text/javascript' src='/js/jssor.slider-21.1.5.min.js'></script>

<script type="text/javascript">
	var $height_w   = jQuery(window).height();
	jQuery('.noo-countdown').css('height',$height_w+'px');
	jQuery(window).resize(function(){
		var $height_w = jQuery(window).height();
		jQuery('.noo-countdown').css('height',$height_w+'px');
	});
	jQuery(function () {
		jQuery('.full-background li:first-child').show();
		var myVar = '';
		clearInterval(myVar);
		myVar = setInterval(function(){
			jQuery('.full-background li:first-child').fadeOut(1200).next('li').fadeIn(1200).end().appendTo('.full-background');
		},3500);

		var onMobile = false;
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) { onMobile = true; }

		if( ( onMobile === false ) ) {
			jQuery(".player").mb_YTPlayer();
		} else {
			/* as a fallback we add a special class to the header which displays a poster image */
			jQuery('.noo-countdown').addClass('video-section');
		}

		austDay = new Date(2016, 9,  14);
		jQuery('#defaultCountdown').countdown({until: austDay});
		jQuery('#year').text(austDay.getFullYear());



		jssor_1_slider_init = function() {

			var jssor_1_SlideoTransitions = [
				[{b:-1,d:1,o:-1},{b:0,d:1000,o:1}],
				[{b:1900,d:2000,x:-379,e:{x:7}}],
				[{b:1900,d:2000,x:-379,e:{x:7}}],
				[{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:1000,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:1900,d:1600,x:-200,o:-1,e:{x:16}}]
			];

			var jssor_1_options = {
				$AutoPlay: true,
				$SlideDuration: 800,
				$SlideEasing: $Jease$.$OutQuint,
				$CaptionSliderOptions: {
					$Class: $JssorCaptionSlideo$,
					$Transitions: jssor_1_SlideoTransitions
				},
				$ArrowNavigatorOptions: {
					$Class: $JssorArrowNavigator$
				},
				$BulletNavigatorOptions: {
					$Class: $JssorBulletNavigator$
				}
			};

			var jssor_1_slider = new $JssorSlider$("home_slider", jssor_1_options);

			//responsive code begin
			//you can remove responsive code if you don't want the slider scales while window resizing
			function ScaleSlider() {
				var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
				if (refSize) {
					refSize = Math.min(refSize, 1920);
					jssor_1_slider.$ScaleWidth(refSize);
				}
				else {
					window.setTimeout(ScaleSlider, 30);
				}
			}
			ScaleSlider();
			$Jssor$.$AddEvent(window, "load", ScaleSlider);
			$Jssor$.$AddEvent(window, "resize", ScaleSlider);
			$Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
			//responsive code end
		};

		jssor_1_slider_init();
	});

</script>