<div class="footer-player">
    <div class="album-playlist">
        <ul>
            <li class="album-playlist-title">
				<span class="playlist-play">
					Play
				</span>
				<span class="playlist-release">
					Play
					<small>(Label)</small>
				</span>
				<span class="playlist-tract">
					Track title
					<small>(Track author)</small>
				</span>
				<span class="playlist-page">
					Page
				</span>
				<span class="playlist-delete">
					Delete
				</span>
            </li>
            <li class="album-playlist-item"
                data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=&quot;images/album/album-thumb-40x40.jpg&quot; alt=&quot;rock16&quot; /&gt;"
                data-name="Payphone" data-artist="Maroon 5 ft Wiz Khalifa">
					<span class="playlist-play">
						<a href="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/Payphone-Maroon-5-ft-Wiz-Khalifa.mp3">
							<i class="fa fa-play"></i>
						</a>
					</span>
					<span class="playlist-release">
						<a href="#">Live on Letterman</a>
					</span>
					<span class="playlist-tract">
						<a href="#">Payphone</a>
						<small><a href="javascript:void(0)">Maroon 5 ft Wiz Khalifa</a></small>
					</span>
					<span class="playlist-page">
						<a href="#"><i class="fa fa-share"></i></a>
					</span>
					<span class="playlist-delete">
						<a href="#"><i class="fa fa-times"></i></a>
					</span>
            </li>
            <li class="album-playlist-item"
                data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=&quot;images/album/album-thumb-40x40.jpg&quot; alt=&quot;rock16&quot; /&gt;"
                data-name="Quando Quando" data-artist="Engelbert Humperdinck">
					<span class="playlist-play">
						<a href="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/Quando-Quando-Engelbert-Humperdinck-Engelbert-Humperdinck.mp3"><i
									class="fa fa-play"></i></a>
					</span>
					<span class="playlist-release">
						<a href="#">Live on Letterman</a>
					</span>
					<span class="playlist-tract">
						<a href="#">Quando Quando</a>
						<small><a href="javascript:void(0)">Engelbert Humperdinck</a></small>
					</span>
					<span class="playlist-page">
						<a href="#"><i class="fa fa-share"></i></a>
					</span>
					<span class="playlist-delete">
						<a href="#"><i class="fa fa-times"></i></a>
					</span>
            </li>
            <li class="album-playlist-item"
                data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=&quot;images/album/album-thumb-40x40.jpg&quot; alt=&quot;rock16&quot; /&gt;"
                data-name="No Face No Name No Number" data-artist="Modern Talking">
					<span class="playlist-play">
						<a href="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/No-Face-No-Name-No-Number-Modern-Talking.mp3"><i
									class="fa fa-play"></i></a>
					</span>
					<span class="playlist-release">
						<a href="#">Live on Letterman</a>
					</span>
					<span class="playlist-tract">
						<a href="#">No Face No Name No Number</a>
						<small><a href="javascript:void(0)">Modern Talking</a></small>
					</span>
					<span class="playlist-page">
						<a href="#"><i class="fa fa-share"></i></a>
					</span>
					<span class="playlist-delete">
						<a href="#"><i class="fa fa-times"></i></a>
					</span>
            </li>
            <li class="album-playlist-item"
                data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=&quot;images/album/album-thumb-40x40.jpg&quot; alt=&quot;rock16&quot; /&gt;"
                data-name="Glad You Came" data-artist="The Wanted">
					<span class="playlist-play">
						<a href="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/Glad-You-Came-The-Wanted.mp3"><i
									class="fa fa-play"></i></a>
					</span>
					<span class="playlist-release">
						<a href="#">Live on Letterman</a>
					</span>
					<span class="playlist-tract">
						<a href="#">Glad You Came</a>
						<small><a href="javascript:void(0)">The Wanted</a></small>
					</span>
					<span class="playlist-page">
						<a href="#"><i class="fa fa-share"></i></a>
					</span>
					<span class="playlist-delete">
						<a href="#"><i class="fa fa-times"></i></a>
					</span>
            </li>
            <li class="album-playlist-item"
                data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=&quot;images/album/album-thumb-40x40.jpg&quot; alt=&quot;rock16&quot; /&gt;"
                data-name="Forever And One" data-artist="Helloween">
					<span class="playlist-play">
						<a href="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/Forever-And-One-Helloween.mp3"><i
									class="fa fa-play"></i></a>
					</span>
					<span class="playlist-release">
						<a href="#">Live on Letterman</a>
					</span>
					<span class="playlist-tract">
						<a href="#">Forever And One</a>
						<small><a href="javascript:void(0)">Helloween</a></small>
					</span>
					<span class="playlist-page">
						<a href="#"><i class="fa fa-share"></i></a>
					</span>
					<span class="playlist-delete">
						<a href="#"><i class="fa fa-times"></i></a>
					</span>
            </li>
            <li class="album-playlist-item"
                data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=&quot;images/album/album-thumb-40x40.jpg&quot; alt=&quot;rock16&quot; /&gt;"
                data-name="Beatiful In White" data-artist="Shane Filan">
					<span class="playlist-play">
						<a href="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/Beatiful-In-White-Shane-Filan.mp3"><i
									class="fa fa-play"></i></a>
					</span>
					<span class="playlist-release">
						<a href="#">Live on Letterman</a>
					</span>
					<span class="playlist-tract">
						<a href="#">Beatiful In White</a>
						<small><a href="javascript:void(0)">Shane Filan</a></small>
					</span>
					<span class="playlist-page">
						<a href="#"><i class="fa fa-share"></i></a>
					</span>
					<span class="playlist-delete">
						<a href="#"><i class="fa fa-times"></i></a>
					</span>
            </li>
        </ul>
    </div>
    <div class="album-player">
        <div class="album-player-embed">
            <span class="contro-album-player contro-down-player"><i class="fa fa-angle-down"></i></span>
            <span class="contro-album-player contro-up-player"><i class="fa fa-angle-up"></i></span>
            <audio class="album-audio-embed">
                <source src="#" type="audio/mpeg"/>
            </audio>
        </div>
    </div>
</div>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
<script type='text/javascript' src='/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='/js/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='/js/modernizr-2.7.1.min.js'></script>
<script type='text/javascript' src='/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='/js/jquery.carouFredSel-6.2.1.js'></script>
<script type='text/javascript' src='/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/hoverIntent-r7.min.js'></script>
<script type='text/javascript' src='/js/superfish-1.7.4.min.js'></script>
<script type='text/javascript' src='/js/main.js'></script>
<script type='text/javascript' src='/js/mediaelement-and-player.js'></script>
<script type='text/javascript' src='/js/player.js'></script>
<script type='text/javascript' src='/js/jquery.plugin.min.js'></script>
<script type='text/javascript' src='/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='/js/TweenLite.min.js'></script>
<script type='text/javascript' src='/js/EasePack.min.js'></script>
<script type='text/javascript' src='/js/rAF.js'></script>
<script type='text/javascript' src='/js/effect.js'></script>
<script type='text/javascript' src='/js/jquery.parallax.js'></script>
<script type='text/javascript' src='/js/owl.carousel.min.js'></script>

<script type="text/javascript">
    var $height_w = jQuery(window).height();
    jQuery('.noo-countdown').css('height', $height_w + 'px');
    jQuery(window).resize(function () {
        var $height_w = jQuery(window).height();
        jQuery('.noo-countdown').css('height', $height_w + 'px');
    });
    jQuery(function () {
        austDay = new Date(2016, 9, 8);
        jQuery('#defaultCountdown').countdown({until: austDay});
        jQuery('#year').text(austDay.getFullYear());
    });
</script>