<header class="noo-header" id="noo-header">
    <div class="navbar-wrapper">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <h1 class="sr-only">Home</h1>
                    <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
                        <span class="sr-only">Navigation</span>
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="#" class="mobile-minicart-icon">
                        <i class="fa fa-shopping-cart"></i><span>0</span>
                    </a>
                    <a href="./" class="navbar-brand">
                        <img class="noo-logo-img noo-logo-normal" src="images/logo.png" alt="">
                        <img class="noo-logo-img noo-logo-floating" src="images/logo.png" alt="">
                    </a>
                </div>
                <nav class="collapse navbar-collapse noo-navbar-collapse">
                    <ul class="navbar-nav sf-menu">
                        <li class="current-menu-item menu-item-has-children">
                            <a href="./">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index-video.html">Home video</a></li>
                                <li class="current-menu-item"><a href="index-parallax.html">Home Parallax</a></li>
                                <li><a href="index-revolution.html">Home Revolution</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Events</a>
                            <ul class="sub-menu">
                                <li><a href="event.html">Event List</a></li>
                                <li><a href="event-photo.html">Event Photo</a></li>
                                <li><a href="event-detail.html">Event Detail</a></li>
                                <li><a href="archive-event.html">Archive Event</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Albums</a>
                            <ul class="sub-menu">
                                <li><a href="album.html">Albums Masonry</a></li>
                                <li><a href="album-detail.html">Single Album</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="shop.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="cart-empty.html">Empty Cart</a></li>
                                <li><a href="shop-detail.html">Shop Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="members.html">Members</a></li>
                        <li class="menu-item-has-children">
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-masonry.html">Blog 2 columns</a></li>
                                <li><a href="blog-detail.html">Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="noo-menu-item-cart minicart">
                            <a class="cart-button" href="cart.html">
											<span class="cart-item">
												<i class="fa fa-shopping-cart"></i>
											</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>