<p>La noche de Jueves, consiste en una noche llena de cultura cubana. Que comenzará desde clases de Salsa, Rumba, Timba y Son (para todos los niveles sin conocimientos técnicos previos), seguido de una banda en vivo, cuyo corazón es el SON cubano. El lugar donde se llevara acabo este maravilloso evento, es Mamerta, un Centro Cultural y un espacio artístico donde todos los días se pueden encontrar diferentes actividades.  (<a href="https://www.facebook.com/MamertaCultural" target="_blank">https://www.facebook.com/MamertaCultural</a>).</p>

<p>La idea principal es poder captar público de diferentes nacionalidades con el fin de promover mundialmente nuestra cultura y que esa noche se lleven un pedacito de mi patria.</p>

<p>Uno de los métodos más formales con los cuales he trabajado anteriormente, es utilizar una cuponera troquelada, donde el lugar vende el costo total de la entrada, recibiendo yo parte de la misma, teniendo ambos constancia de lo vendido. Posteriormente retiraria el 75% restante.</p>

<p>El costo actual de la entrada es de $80 (que incluye una clase temática con derecho a espectáculo).</p>

<p>Allí mismo, Mamerta ofrece servicios gastronómicos para todo aquel que decida consumir entre bebidas y picadas.</p>

<p>Para mas informacion, videos y fotos por favor visite nuestra página oficial de facebook.
https://www.facebook.com/masRicoConSalsa/</p>


<p>Por otro lado, quisiera comentarte que estoy armando otra propuesta artística cubana, como es “El Rincón de la Trova”, la cual consiste en:
Una clase de baile social estilo cubano
Un concierto de Trova u otros formatos apuntando a un espacio donde convivan, de una forma única, las mejores ofertas artísticas con personalidades exclusivas del arte nacional e internacional.
Performance coreografías de bailarines, entre otras..</p>

<p>Esta propuesta estaría comenzando en Junio.</p><br>

<p><b>Medios de Contacto:</b></p>

<p>
    Mi nombres es Karol Cowan Junco,
    <br>Numero Celular (whatsapp): <a href="intent://send/+541130891051#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+541130891051</a>
    <br>Pagina Web: <a href="http://karolcowan.com" target="_blank">http://karolcowan.com</a>
    <br>Email: <a href="mailto:loraknawoc@hotmail.com">loraknawoc@hotmail.com</a>
    <br>Pagina Facebook:  <a href="https://www.facebook.com/karolcowanafrodance/" target="_blank">https://www.facebook.com/karolcowanafrodance/</a>
</p>
