<h5>Talleres de Rumba y Danzas Afrocubanas</h5>

<p>Consiste en una clase de aproximadamente hora y media, con un calentamiento dirigido a la materia, donde se verán:</p>

<p>Técnica Yoruba y la influencia que tuvo en la Rumba</p>
<ul>
    <li>Coordinación y Sensación de Espacio</li>
    <li>Improvisación</li>
    <li>Resistencia Corporal</li>
    <li>Interpretación</li>
    <li>Cadencia</li>
</ul>

<br><p>A medida que se va adentrando en los temas históricos, se puede justificar cada movimiento en una cultura milenaria, llena de tradición, raíz y esencia con matices netamente africanos convirtiéndose en un mestizaje vertiginoso que se fomento con la llegada de los africanos a las antillas.</p>

<h5>Talleres de Danzas Populares Cubanas</h5>

<p>Consiste en elementos y recursos de  las danzas afrocubanas y sus derivados, empleados en el casino y en el SON cubano.</p>

<p>Justificando cada movimiento en su particularidad de cada género. Incluyendo todo el sabor de la Rumba.</p>

<p>Ritmos y bailes cubanos que se estudiarán:</p>
<ul>
    <li>Danzon y Contradanza</li>
    <li>SON</li>
    <li>Casino</li>
    <li>Cha Cha Cha</li>
    <li>Mambo</li>
    <li>Pilón</li>
    <li>Mozambique</li>
</ul>

<h5>Taller de Latin Jazz</h5>

<p>Es una técnica que fusiona varias disciplinas, como el Jazz, danzas populares cubanas (Son, Salsa, Rumba, entre otras), danza moderna y Cabaret Cubano!</p>
<p>Estas clases son excelentes para todas aquellas personas que quieran iniciarse en la técnica, como así también para aquellas personas que ya cuentan con conocimientos técnicos.</p>
<p>Aqui puede encontrar mas informacion, particularmente, en este link <a href="http://karolcowan.com/eventos/clases">http://karolcowan.com/eventos/clases</a> puede encontrar videos que explican lo detallado anteriormente.</p>

<p><b>Medios de Contacto:</b></p>

<p>
    Mi nombres es Karol Cowan Junco,
    <br>Numero Celular (whatsapp): <a href="intent://send/+541130891051#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+541130891051</a>
    <br>Pagina Web: <a href="http://karolcowan.com" target="_blank">http://karolcowan.com</a>
    <br>Email: <a href="mailto:loraknawoc@hotmail.com">loraknawoc@hotmail.com</a>
    <br>Pagina Facebook:  <a href="https://www.facebook.com/karolcowanafrodance/" target="_blank">https://www.facebook.com/karolcowanafrodance/</a>
</p>
