{% block page_title %}Home{% endblock %}
{% extends 'layout/base.twig' %}
{% block title %}Karol Cowan & La Sabrosa Latin Band{% endblock %}

{% block content %}
    <div class="main-content container-fullwidth">
        {% include 'partials/home/_video.twig' %}
        {% include 'partials/home/_upcoming_events.twig' %}
        {% include 'partials/home/_successfull_events.twig' %}
        {#{% include 'partials/home/_featured_albums.twig' %}
        {% include 'partials/home/_news_and_updates.twig' %}#}
        {% include 'partials/home/_slider.twig' %}
        {% include 'partials/home/_footer.twig' %}
    </div>
{% endblock %}