<!-- FOOOTER
================================================== -->
<div id="footer">
    <footer class="row">
        <p class="back-top floatright">
            <a href="#top"><span></span></a>
        </p>
        <div class="four columns">
            <p><b>Soy Cubano, bailarín y musico profesional.</b></p>
        </div>
        <div class="eight columns">
            <ul class="social-network social-circle">
                <li><a href="https://www.facebook.com/karolcowanafrodance" target="_blank" class="icoFacebook" title="Rss"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCBPLByrX4x3WZ8TRoPhgEcw" target="_blank" class="icoYoutube" title="Youtube"><i class="fa fa-youtube fa-2x"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/karol-cowan-2083a8a0" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
<div class="copyright">
    <div class="row">
        <div class="six columns">
            &copy;<span class="small"> Copyright 2016 </span>
        </div>
        <div class="six columns">
            <span class="small floatright"> Desarrollo Veronica Nisenbaum</span>
        </div>
    </div>
</div>