
<!-- HEADER
================================================== -->
<div class="row">
    <div class="four columns">
        <div class="logo">
            <a href="index.html"><h4>Karol Cowan</h4></a>
        </div>
    </div>
    <div class="eight columns noleftmarg">
        <nav id="nav-wrap">
            <ul class="nav-bar sf-menu">
                <li class="{% if tab == 'home'%}active{% endif %}">
                    <a href="/">Home</a>
                </li>
                <li class="{% if tab == 'portfolio'%}active{% endif %}">
                    <a href="/portfolio">Portfolio</a>
                </li>
                <li class="{% if tab == 'cv'%}active{% endif %}">
                    <a href="/cv">Curriculum Vitae</a>
                </li>
                <li class="{% if tab == 'contact'%}active{% endif %}">
                    <a href="contact.html">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</div>
<div class="clear"></div>